.cards-container {
  max-width: 1140px;
  margin: 0 auto;
}

.category-text {
  font-size: 26px;
}

.category-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-name {
  margin: 25px 20px;

  font-size: 28px;
}

.stars-field {
  flex-grow: 2;
}

.cards-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category-field {
  gap: 0;
}

.game-btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 20px;

  background-color: transparent;

  &:hover {
    box-shadow: none;

    transform: rotate(5deg);
  }

  &__icon {
    height: 48px;
    width: 48px;
  }
}

@import './card';
@import './categoryCard';
