@import './variables';

.main-container {
  max-width: 1140px;
  margin: 0 auto;

  &.end-game {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: $accent-orange;
      font-size: 42px;
    }

    p {
      margin: 0 0 30px;

      color: $accent-orange;
      font-size: 18px;
    }

    img {
      max-height: 400px;
      max-width: 100%;
    }
  }
}

.category-text {
  margin: 20px 30px;
  font-size: 26px;
}

.category-header {
  display: flex;
  justify-content: space-between;

  @media (max-width: 540px) {
    flex-wrap: wrap;
  }
}


.stars-field {
  overflow: hidden;

  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .stars {
    height: 36px;
    margin: 2px;
  }

  @media (max-width: 540px) {
    margin: 0 20px;
  }
}

.category-name {
  margin: 25px 20px;

  font-size: 28px;
}

.cards-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  padding: 0 30px;
}

.categories-field {
  gap: 0;
  padding: 0;
}

.game-btn {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 20px;

  background-color: transparent;

  &:hover {
    box-shadow: none;

    transform: rotate(-5deg);
  }

  &__icon {
    height: 48px;
    width: 48px;
  }
}

@import './card';
@import './categoryCard';
