@import './variables';

.footer {
  margin: 30px 0 0;

  color: #000;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.github {
  display: block;
  width: 120px;
  height: 45px;
  padding-left: 45px;

  background-image: url('../../public/github.png');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;

  line-height: 45px;
  font-size: 16px;

  transition: 0.3s;

  &:hover {
    transform: rotate(2deg);
  }
}

.rss {
  position: relative;

  display: block;
  width: 86px;
  height: 32px;
  padding-right: 111px;

  font-family: 'Open Sans', sans-serif;

  background-image: url('../../public/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;

  &-year {
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 21px;
    letter-spacing: -2px;
    line-height: 0.9;
    font-weight: bold;

    transition: 0.3s;
  }

  &:hover .rss-year {
    right: -5px;

    letter-spacing: 0;
  }
}
