@import './variables';

.stat-header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 20px;

  &__heading {
    margin: 10px 0 0;
  }

  &__btn {
    margin: 10px 0 0 15px;
  }
}

.stat-scroll {
  overflow-x: auto;
}

.stat-table {
  margin: 0 auto;

  background-color: $light;

  &__head {
    background-color: $bg-light-blue;

    font-weight: 700;
  }

  &__h-data {
    padding: 5px 10px;

    cursor: pointer;

    &:hover {
      background-color: $accent-blue;
    }

    &.asc.active {
      &::after {
        margin: 0 0 0 5px;
        content: '\2193';
      }
    }

    &.desc.active {
      &::after {
        margin: 0 0 0 5px;
        content: '\2191';
      }
    }
  }

  &__d-row {
    &:hover {
      background-color: $bg-light-green;
    }
  }

  &__data {
    padding: 2px 5px;

    &:hover {
      background-color: $middle-green;
    }
  }
}
