@import './variables';

.stat-header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.stat-table {
  margin: 0 auto;

  background-color: $light;

  &__head {
    background-color: $bg-light-blue;

    font-weight: 700;
  }

  &__h-data {
    padding: 5px 10px;

    cursor: pointer;

    &:hover {
      background-color: $accent-blue;
    }
  }

  &__d-row {
    &:hover {
      background-color: $bg-light-green;
    }
  }

  &__data {
    padding: 2px 5px;

    &:hover {
      background-color: $middle-green;
    }
  }
}
