/** fonts **/
$font-main: 'Nanum Gothic', sans-serif;
$font-heading: 'Yomogi', sans-serif;

/** colors **/
$light: #fff9f4;
$bg-light: #FDF2E9;
$bg-dark: #A9CCE3;
$dark: #774d1d;
$font-dark: #2E4053;
$border-dark: #b7a38a;
$accent-green: #45B39D;
$bg-green: #E8F8F5;
$accent-orange: #EC7063;
$accent-blue: #5499C7;
