/** fonts **/
$font-main: 'Nanum Gothic', sans-serif;
$font-heading: 'Yomogi', sans-serif;

/** colors **/
$light: #fff9f4;
$bg-light: #FDF2E9;
$bg-light-blue: #A9CCE3;
$accent-blue: #5499C7;
$bg-light-green: #E8F6F3;
$middle-green: #A2D9CE;
$accent-green: #45B39D;
$dark: #774d1d;
$border-dark: #b7a38a;
$accent-orange: #EC7063;
$font: #2E4053;
