@import 'variables';
@import 'mixins';

.footer {
  @include grid(10, 40px);
  height: 766px;
  padding: 100px 60px 0;

  background-color: $black;

  color: $fontColorFooter;

  @include _1919 {
    @include grid(8, 30px);
    height: auto;
    padding: 100px 40px 0;
  }

  @include _1200 {
    @include grid(6, 30px);
    padding: 80px 20px 0;
  }

  @include _640 {
    @include grid(4, 20px);
    padding: 60px 10px 0;
  }
}

.footer__col-1 {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include _1919 {
    grid-column: 1 / span 2;
    max-height: 370px;
  }

  @include _1200 {
    grid-column: 1 / -2;
    flex-direction: row;
    margin: 0 0 60px;
  }

  @include _640 {
    grid-column: 1 / span 2;
    flex-direction: column;
    margin: 0;
  }
}

.footer__col-2 {
  grid-column: 5 / 7;

  @include _1919 {
    grid-column: 3 / span 2;
  }

  @include _1200 {
    grid-column: 1 / span 2;
  }

  @include _640 {
    grid-column: 3 / span 2;
  }
}

.footer__col-3 {
  grid-column: 8 / 10;

  @include _1919 {
    grid-column: 6 / span 3;
  }

  @include _1200 {
    grid-column: 3 / -1;
    max-height: 370px;
  }

  @include _640 {
    grid-column: 1 / span 4;
    margin: 58px 0 0;

    text-align: center;
  }
}

.footer__copyright {
  grid-column: 2 / 10;
  display: flex;
  justify-content: space-between;
  margin: 150px 0 0;
  padding: 50px 0 59px;
  border-top: 1px solid $gray;

  font-size: 16px;
  line-height: normal;

  @include _1919 {
    grid-column: 1 / -1;
    padding: 40px 0;
    margin: 133px 0 0;
  }

  @include _1200 {
    padding: 20px 0;
    margin: 60px 0 0;
  }

  @include _640 {
    flex-direction: column-reverse;
    padding: 20px 0 10px;
    margin: 32px 0 0;
  }
}

.logo__logo-link_big {
  display: block;
  height: 117px;
  width: 153px;

  background-image: url(../../assets/icons/logo-big.svg);
  background-size: contain;

  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  @include _1919 {
    width: 119px;
    height: 91px;
  }

  @include _1200 {
    width: 95px;
    height: 74px;
  }

  @include _640 {
    width: 60px;
    height: 47px;
  }
}

.logo-block {
  display: flex;
  align-items: center;
  margin: 0 0 13px;

  @include _1919 {
    flex-direction: column;
    align-self: flex-start;
    margin: 0;
  }

  @include _1200 {
    flex-direction: row;
    align-self: flex-end;
    margin: 0 23px 0;
  }

  @include _640 {
    flex-direction: column-reverse;
    align-self: flex-start;
    margin: 0 0 5px;
  }
}

.logo__divider {
  margin: 0 24px;

  color: $white;

  @include _1919 {
    margin: 22px 0;
  }

  @include _1200 {
    margin: 0 30px;
  }

  @include _640 {
    margin: 18px 0;
  }
}

.logo__yem-logo-link {
  display: block;
  height: 62px;
  width: 118px;

  background-image: url(../../assets/icons/logo-yem.svg);
  background-size: contain;

  @include _1919 {
    margin: 0 0 0 -8px;
  }

  @include _1200 {
    width: 93px;
    height: 49px;
  }

  @include _640 {
    width: 80px;
    height: 42px;
  }
}

.logo__rs-logo-link {
  display: block;
  height: 47px;
  width: 128px;

  background-image: url(../../assets/icons/logo-rs.svg);
  background-size: contain;

  @include _1200 {
    width: 102px;
    height: 38px;
  }

  @include _640 {
    width: 84px;
    height: 31px;
  }
}

.footer__heading {
  @extend %heading;
  color: $white;

  @include _640 {
    font-size: 18px;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 318px;
  margin: 40px 0 0;

  @include _1919 {
    font-size: 18px;
  }

  @include _1200 {
    height: 300px;

    font-size: 16px;
  }

  @include _640 {
    height: 237px;
    margin: 20px 0 0;

    font-size: 14px;
  }
}

.footer-nav__item-link {
  transition: 0.2s;

  &:hover {
    color: $wightBlue;
  }

  &:active {
    color: $hardBlue;
  }
}

.footer__text {
  margin: 46px 0 40px;

  @include _1919 {
    max-width: 339px;

    font-size: 18px;
    line-height: 154%;
  }

  @include _1200 {
    margin: 30px 0 40px;

    font-size: 16px;
  }

  @include _640 {
    margin: 30px auto;

    font-size: 14px;
  }
}

.btn_footer {
  @include btn();
  @extend %btn-text;
  min-width: 339px;
  padding: 20px 0;
  border: 2px solid $white;

  color: $white;

  &:hover {
    border-color: $gray;
  }

  &:active {
    border-color: $hardBlue;
  }

  @include _1919 {
    max-width: 339px;
    padding: 20px 74px;

    font-size: 18px;
  }

  @include _1200 {
    max-width: 318px;
    min-width: 0;

    font-size: 16px;
  }

  @include _640 {
    margin: 0 auto;

    font-size: 14px;
  }
}

.social-wrapper {
  display: flex;
  justify-content: space-between;

  @include _1919 {
    padding: 0 25px 0 0;
  }

  @include _640 {
    padding: 0;
  }
}

.social {
  margin: 85px 0 0;
  font-weight: 500;
  font-size: 20px;

  transition: 0.2s;

  &:hover {
    color: $wightBlue;
  }

  &:active {
    color: $hardBlue;
  }

  @include _1919 {
    margin: 96px 0 0;

    font-size: 22px;
  }

  @include _1200 {
    margin: 50px 0 0;

    font-size: 18px;
  }

  @include _640 {
    margin: 33px 0 0;

    font-size: 14px;
  }
}

.social-facebook {
  @include _640 {
    margin: 33px 20px 0 0;
  }
}

.copyright__text {
  white-space: nowrap;

  @include _1919 {
    font-size: 16px;
  }

  @include _1200 {
    font-size: 14px;
  }

  @include _640 {
    margin: 0 0 10px;

    font-size: 11px;
  }

}
