@import 'variables';
@import 'mixins';

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  box-sizing: border-box;

  font-family: $font-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 154%;
  color: $font-color-body;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;

  margin: 25px 60px 0;
}

.content-wrapper {
  @include grid($gridColumnsCount, $gridGap);
}

.content {
  margin: 90px 0 0;
}

.heading {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: $black;
}

.text-block__subtitle {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 36px;
  line-height: 145%;
  color: $dark-blue;
}

%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  width: 250px;
  border-radius: 5px;

  font-weight: 500;
  line-height: 21px;
}

.btn_dark {
  @extend %btn;
  background-color: $blue;

  color: $white;
}

.btn_light {
  @extend %btn;
  border: 2px solid $blue;

  color: $blue;
}

.text-block__btn-wrapper {
  display: flex;
  justify-content: space-between;
}
