@import 'variables';
@import 'mixins';

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: $font-main;
  font-size: 18px;
  font-weight: 400;
  line-height: 154%;
  color: $gray;

  background-color: $white;

  @include _1919 {
    font-size: 16px;
  }
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
}

.content-wrapper {
  @include grid(10, 40px);
  margin: 25px 60px 0;

  @include _1919 {
    @include grid(8, 30px);
    margin: 25px 40px 0;
  }

  @include _1200 {
    @include grid(6, 30px);
    margin: 0 20px;
  }

  @include _640 {
    margin: 0 10px;
  }
}

.content {
  grid-column: 2 / -1;
  margin: 90px 0 0;

  p a {
    text-decoration: underline;
    color: $hardBlue;
  }

  @include _1919 {
    margin: 70px 0 0;
  }

  @include _1200 {
    grid-column: 1 / -1;
  }

  @include _640 {
    margin: 59px 0 0;
  }
}

.content__item {
  @include grid(9, 40px);
  align-items: center;

  @include _1919 {
    @include grid(7, 30px);
  }
}

.heading {
  @extend %heading;
}

.text-block__subtitle {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 36px;
  line-height: 145%;
  color: $darkBlue;

  &_small {
    font-size: 26px;
  }
}

.btn_dark {
  @include btn();
  @extend %btn-text;
  background-color: $blue;

  color: $white;

  &:hover {
    background-color: $darkBlue;
  }

  &:active {
    background-color: $active;
  }
}

.btn_light {
  @include btn();
  @extend %btn-text;
  border: 2px solid $blue;

  color: $blue;

  &:hover {
    border-color: $darkBlue;
  }

  &:active {
    border-color: $hardBlue;
  }
}

.text-block__btn-wrapper {
  display: flex;
}

.video {
  border-radius: 5px;
  aspect-ratio: 16 / 9;
}

.slider-nav__arrow {
  &_prev,
  &_next {
    display: block;
    height: 65px;
    width:  65px;
    border-radius: 50%;

    background-position: center;
    background-repeat: no-repeat;

    transition: 0.3s;
  }

  &_prev {
    margin: 0 20px 0 0;
    background-image: url(../../assets/icons/slider-nav-prev.svg);
  }

  &_next {
    background-image: url(../../assets/icons/slider-nav-next.svg);
  }

  &_prev:hover {
    transform: translate(-5px);
  }

  &_next:hover {
    transform: translate(5px);
  }
}

.slider__item-link_hover {
  display: flex;
  align-items: center;

  @extend %btn-text;

  &::after {
    display: block;
    height: 14px;
    width: 22px;
    margin: 0 0 0 18px;

    background-image: url(../../assets/icons/text-arrow.svg);

    content: "";
  }
}
