@import 'variables';

.header-block {
  position: absolute;
  z-index: 2;

  height: 90px;
  width: 100%;
  border: 2px solid $lightGray;
}

.header-block__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 90px);
  height: 100%;
  margin: 0 0 0 90px;
  padding: 0 94px 0;

  backdrop-filter: blur(5px);
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.header-nav__item-link {
  color: $dark-blue;

  &:hover {
    font-weight: 500;
  }

  &.active {
    font-weight: 500;
    cursor: default;
  }
}

.profile-enter__avatar {
  display: block;
  height: 52px;
  width: 52px;

  background-image: url(../../assets/icons/profile.svg);
}
