@import 'variables';
@import 'mixins';

#pay-and-feed {
  .heading {
    grid-column: 2 / 3;
    margin: 100px 0 30px;
  }

  .item-block {
    @include grid(5, $gridGap);
    align-items: center;
    justify-content: center;
  }

  .text-block {
    grid-column: 3 / 6;
    max-width: 456px;
  }

  .text-block__subtitle {
    margin: 0 0 30px;
  }

  .locker {
    grid-column: 2 / 7;

    &::before {
      grid-column: 1 / 3;
      display: block;
      min-height: 312px;
      min-width: 312px;

      background-image: url(../../assets/images/pay-and-feed-locker.svg);
      background-repeat: no-repeat;

      content: "";
    }

    .text-block {
      margin: 0 0 40px;
    }
  }

  .arrow-1 {
    position: relative;
    top: -50%;

    grid-column: 4 / 6;
    justify-self: end;
    display: block;
    height: 99px;
    width: 206px;
    margin: 0 16px 0 0;

    background-image: url(../../assets/images/pay-and-feed-arrow-1.svg);
  }

  .delivery {
    position: relative;
    top: -12%;

    grid-column: 5 / 10;

    &::before {
      grid-column: 1 / 3;
      display: block;
      min-height: 312px;
      min-width: 312px;

      background-image: url(../../assets/images/pay-and-feed-delivery.svg);
      background-repeat: no-repeat;

      content: "";
    }

    .text-block {
      margin: 50px 0 0;
    }
  }

  .arrow-2 {
    position: relative;
    top: 15%;

    grid-column: 3 / 5;
    display: block;
    height: 197px;
    width: 343px;

    background-image: url(../../assets/images/pay-and-feed-arrow-2.svg);
  }

  .squirrels {
    grid-column: 1 / 6;
    margin: 10px 0 100px;

    &::before {
      grid-column: 1 / 3;
      display: block;
      min-height: 312px;
      min-width: 312px;

      background-image: url(../../assets/images/pay-and-feed-squirrels.svg);
      background-repeat: no-repeat;

      content: "";
    }

    .text-block {
      margin: 0 0 20px;
    }
  }
}
