@import 'variables';
@import 'mixins';

.pay-and-feed {
  @include _1200 {
    display: flex;
    flex-direction: column;
  }
}

.pay-and-feed__heading {
  grid-column: 2 / 3;
  margin: 100px 0 30px;

  @include _1919 {
    grid-column: 1 / span 2;
    margin: 100px 0 0;
  }

  @include _1200 {
    margin: 90px 0 0;
  }

  @include _640 {
    margin: 67px 0 0;
  }
}

.pay-and-feed__item-block {
  @include grid(5, 40px);
  align-items: center;
  justify-content: center;

  @include _1919 {
    @include grid(5, 30px);
  }

  @include _1200 {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  @include _640 {
    width: 100%;
  }
}

.pay-and-feed__text-block {
  grid-column: 3 / 6;
  max-width: 456px;
}

.pay-and-feed__subtitle {
  margin: 0 0 30px;

  @include _1919 {
    margin: 0 0 25px;
  }

  @include _640 {
    margin: 0 0 20px;
  }
}

.text-block__text {
  @include _1200 {
    font-size: 18px;
    line-height: 28px;
  }

  @include _640 {
    font-size: 14px;

    line-height: 22px;
  }
}

.locker {
  grid-column: 2 / 7;

  &::before {
    grid-column: 1 / span 2;
    display: block;
    min-height: 312px;
    min-width: 312px;

    background-image: url(../../assets/images/pay-and-feed-locker.svg);
    background-repeat: no-repeat;
    background-size: contain;

    content: "";

    @include _1919 {
      min-width: 242px;
      min-height: 242px;
    }

    @include _1200 {
      min-width: 180px;
      min-height: 180px;
      margin: 0 auto 30px;
    }
  }

  @include _1919 {
    grid-column: 2 / -2;
    margin: 80px 0 105px;
  }

  @include _1200 {
    margin: 55px 0 62px;
  }

  @include _640 {
    margin: 26px 0 30px;
  }

  .text-block {
    margin: 0 0 40px;

    @include _1919 {
      min-width: 428px;
      margin: 0;
    }

    @include _1200 {
      width: 428px;
    }

    @include _640 {
      min-width: 0;
      width: 100%;
    }
  }
}

.arrow-1 {
  position: relative;
  top: -50%;

  grid-column: 4 / 6;
  justify-self: end;
  display: block;
  height: 99px;
  width: 206px;
  margin: 0 16px 0 0;

  background-image: url(../../assets/images/pay-and-feed-arrow-1.svg);
}

.delivery {
  position: relative;
  top: -12%;

  grid-column: 5 / 10;

  &::before {
    grid-column: 1 / span 2;
    display: block;
    min-height: 312px;
    min-width: 312px;

    background-image: url(../../assets/images/pay-and-feed-delivery.svg);
    background-repeat: no-repeat;
    background-size: contain;

    content: "";

    @include _1919 {
      min-width: 242px;
      min-height: 242px;
    }

    @include _1200 {
      min-width: 180px;
      min-height: 180px;
      margin: 0 auto 30px;
    }
  }

  @include _1919 {
    grid-column: 2 / -2;
  }

  .text-block {
    margin: 50px 0 0;

    @include _1919 {
      min-width: 456px;
      margin: 0;
    }

    @include _1200 {
      width: 456px;
    }

    @include _640 {
      min-width: 0;
      width: 100%;
    }
  }
}

.arrow-2 {
  position: relative;
  top: 15%;

  grid-column: 3 / 5;
  display: block;
  height: 197px;
  width: 343px;

  background-image: url(../../assets/images/pay-and-feed-arrow-2.svg);
}

.arrow {
  @include _1919 {
    display: none;
  }
}

.squirrels {
  grid-column: 1 / 6;
  margin: 10px 0 100px;

  &::before {
    grid-column: 1 / span 2;
    display: block;
    min-height: 312px;
    min-width: 312px;

    background-image: url(../../assets/images/pay-and-feed-squirrels.svg);
    background-repeat: no-repeat;
    background-size: contain;

    content: "";

    @include _1919 {
      min-width: 242px;
      min-height: 242px;
    }

    @include _1200 {
      margin: 0 auto 30px;
    }

    @include _640 {
      margin: 0 auto 15px;
    }
  }

  @include _1919 {
    grid-column: 2 / -2;
    margin: 75px 0 136px;
  }

  @include _1200 {
    margin: 63px 0 71px;
  }

  @include _640 {
    margin: 40px 0 26px;
  }

  .text-block {
    margin: 0 0 20px;

    @include _1919 {
      min-width: 456px;
      margin: 0 0 30px;
    }

    @include _640 {
      min-width: 0;
      width: 100%;
    }
  }

  .pay-and-feed__subtitle {
    @include _1919 {
      max-width: 287px;
    }

    @include _1200 {
      margin: 0 auto 25px;
    }

    @include _640 {
      max-width: 208px;
    }
  }
}
