$font-main: 'Rubik', sans-serif;
$font-heading: 'Merriweather', serif;

//$border-color-header: #F0F0F0;
$gray: #747474;
$fontColorFooter: #BCBCBC;
$borderSub: #E3E3E3;
$white: #FCFCFC;
$black: #0B0B0B;
$darkBlue: #080029;
$blue: #0F0049;
$lightGray: #F0F0F0; //#D3D3D3;
$dark: #181818;
$lightBlue: #609FFF;
$wightBlue: #D9E8FF;
$hardBlue: #3888FF;
$active: #150068;

// 1920px

$gridColumnsCount: 10;
$gridGap: 40px;
$gridColumns: calc((100% - 9 * $gridGap) / $gridColumnsCount);

$icons: "eagle", "alligator", "gorilla", "panda";

%heading {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: $black;
}

%btn-text {
  font-weight: 500;
  line-height: normal;
}

%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 75px;
  border-radius: 5px;

  transition: 0.2s;
}
