@import '../variables';
@import '../mixins';

@import '../general';
@import '../includes/header';
@import '../includes/sidebar';
@import '../includes/pay-and-feed';
@import '../includes/footer';

.logo {
  @include _1200 {
    display: flex;
  }
}

.profile-enter__avatar {
  @include _max {
    margin: 0 86px 0 0;
  }
}

.content {
  @include _1200 {
    margin: 0;
  }
}

.sidebar {
  @include _1919 {
    height: calc(100vh - 75px);
    margin: 0 0 85px;
  }

  @include _1200 {
    height: 80px;
    margin: 0 0 23px;
  }

  @include _640 {
    height: 75px;
  }
}

.animals {
  @include _max {
    margin: 10px 0;
  }
}

.animals__item-addition {
  @include _1200 {
    display: none;
  }
}

.main-cam {
  @include grid(9, 40px);
  align-items: start;
  padding: 70px 0 60px;

  @include _1919 {
    @include grid(7, 30px);
    grid-template-rows: auto;
    padding: 70px 0 80px;
  }

  @include _1200 {
    @include grid(6, 30px);
    grid-template-rows: auto;
    align-items: start;
    padding: 0 0 80px;
  }

  @include _640 {
    @include grid(4, 20px);
    padding: 0 0 55px;
  }
}

.main-cam__video-block {
  position: relative;

  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
  width: 100%;
  height: 0;
  padding-top: 56.25%;

  @include _1919 {
    grid-column: 1 / span 4;
  }

  @include _1200 {
    grid-row: 2 / span 1;
    margin: 15px 0 0;
  }

  @include _640 {
    grid-column: 1 / span 4;
    margin: 8px 0 0;
  }
}

.main-cam__video {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 16 / 9;
}

.sub-block {
  grid-column: span 3 / -1;
  display: flex;
  height: 110px;
  max-width: 420px;
  border-bottom: 1px solid $borderSub;

  @include _1919 {
    height: 56px;
    margin: 0 0 25px;
    border: none;
  }

  @include _1200 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    margin: 35px 0 0;
  }

  @include _640 {
    grid-column: 1 / span 4;
    margin: 0;
  }
}

.sub-block__avatar {
  height: 70px;
  width: 70px;
  margin: 0 20px 0 0;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
  }

  @include _1919 {
    width: 54px;
    height: 54px;
  }

  @include _1200 {
    margin: 0 5px 0 0;
  }

  @include _640 {
    width: 43px;
    height: 43px;
  }
}

.sub-block__info {
  @include _1919 {
    margin: 0 0 0 10px;
  }
}

.sub-block__name {
  margin: 8px 0 0;

  font-size: 24px;
  color: $black;

  @include _1919 {
    margin: 4px 0 0;
    font-size: 20px;
  }

  @include _1200 {
    font-size: 16px;
  }

  @include _640 {
    margin: 0;
    font-size: 14px;
  }
}

.sub-block__watching {
  display: flex;
  align-items: center;
  color: $gray;

  @include _1200 {
    font-size: 14px;
  }

  @include _640 {
    font-size: 12px;
    margin: -5px 0 0;
  }

  &::before {
    display: block;
    margin: 0 5px 0 0;
    height: 20px;
    width: 20px;

    background-image: url(../../assets/icons/eye.svg);
    background-position: center;

    content: "";

    @include _1919 {
      margin: 0;
    }

    @include _640 {
      width: 12px;
      height: 12px;
      margin: 0 5px 0 0;

      background-size: contain;
    }
  }
}

.main-cam__text-block {
  grid-column: span 3 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
  max-width: 420px;
  margin: 0 0 120px;

  @include _1919 {
    height: auto;
    margin: 0;
  }

  @include _1200 {
    grid-column: 1 / span 4;
    margin: 50px 0 0;
  }

  @include _640 {
    grid-column: 1 / span 4;
  }

  .text-block__subtitle {
    @include _1919 {
      max-width: 343px;
      margin: 0 0 15px;

      font-size: 22px;
    }

    @include _1200 {
      margin: 0 0 20px;
    }

    @include _640 {
      max-width: 188px;

      font-size: 20px;
      white-space: pre-wrap;
    }
  }
}

.main-cam__text {
  max-width: 336px;

  @include _1919 {
    max-width: 360px;
    margin: 0 0 20px;
  }

  @include _1200 {
    margin: 0 0 30px;

    font-size: 16px;
    line-height: 154%;
  }

  @include _640 {
    width: calc(100% - 37px);

    font-size: 14px;
    line-height: 22px;
  }
}

.btn-big-screen {
  @include _1919 {
    display: none;
  }
}

.btn-small-screen {
  display: none;

  @include _1919 {
    display: flex;

    padding: 20px 75px;
  }

  @include _1200 {
    width: 181px;
  }

  @include _640 {
    width: 173px;

    font-size: 14px;
  }
}

.other-cams {
  overflow: hidden;

  grid-column: 1 / -2;
  @include grid(8, 40px);
  margin: 60px 0 0;

  @include _1919 {
    @include grid(6, 30px);
    margin: 50px 0 0;
  }

  @include _1200 {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
    display: block;
    margin: 60px 0 0;
  }

  @include _640 {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    margin: 20px 0 0;
  }
}

.other-cams__heading {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;

  @include _1919 {
    font-size: 22px;
  }

  @include _640 {
    font-size: 20px;
  }

  &::after {
    display: block;
    height: 13px;
    width: 17px;
    margin: 0 0 0 12px;

    background-image: url(../../assets/icons/other-cams-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;

    content: "";

    @include _1200 {
      transform: rotate(180deg);
      width: 13px;
      height: 5px;
      margin: 0 0 0 8px;
    }

    @include _640 {
      transform: rotate(0deg);
    }
  }
}

.slider-nav {
  grid-column: 1 / 3;

  @include _1200 {
    display: none;
  }

  @include _640 {
    display: flex;
    margin: 15px 0 0;
  }
}

.slider-nav__arrow {
  &_prev,
  &_next {
    background-color: $blue;
  }

  &_prev:hover,
  &_next:hover {
    background-color: $darkBlue;
  }

  &_prev:active,
  &_next:active {
    background-color: $active;
  }
}

.video-slider {
  transform: translateX(0);

  grid-column: 1 / auto;
  @include grid(10, 40px);
  width: calc(100vw - 135px);
  margin: 40px 0 25px;

  @include _1919 {
    @include grid(8, 30px);
    width: calc(100vw - 95px);
    margin: 30px 0 40px;
  }

  @include _1200 {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;
  }

  @include _640 {
    @include grid(4, 20px);
    margin: 23px 0 0;
  }
}

.video-slider__video-item {
  position: relative;

  grid-column: span 2;
  aspect-ratio: 16 / 9;
  height: calc(0.55 * (0.2 * (100vw - 120px - 140px)));

  color: $white;

  @include _1919 {
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
  }

  &:first-child {
    @include _1200 {
      margin: 0 0 15px;
    }
  }

  &:nth-child(n+6) {
    display: none;
  }

  &:nth-child(n+5) {
    @include _1919 {
      display: none;
    }
  }

  &:nth-child(n+3) {
    @include _1200 {
      display: none;
    }
  }

  &:hover .video-slider__video {
    filter: blur(3px);
  }
}

.video-slider__video {
  @include _1919 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-slider__closing-block {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;

  opacity: 0;

  transition: 0.3s;

  &:hover {
    background: rgba($black, 0.4);
    opacity: 1;
  }
}

.divider {
  height: 1px;
  width: 150px;
  margin: 10px 0 20px;

  background-color: $white;

  @include _1919 {
    margin: 5px 0 10px;
  }
}

.text-block__subtitle_white {
  color: $white;

  @include _1919 {
    font-size: 20px;
  }
}

.facts {
  @include grid(9, 40px);

  a {
    color: $lightBlue;
  }

  @include _1919 {
    @include grid(7, 30px);
  }

  @include _1200 {
    @include grid(6, 30px);
    margin: 10px 0 0;
  }

  @include _640 {
    @include grid(4, 20px);
  }
}

.facts__text {
  grid-column: 1 / span 3;
  margin: 0 0 46px;

  @include _1919 {
    grid-column: 1 / span 4;
    width: calc(100% - 33px);
  }

  .text-block__text {
    @include _1200 {
      font-size: 16px;
      line-height: 154%;
    }

    @include _640 {
      font-size: 14px;
    }
  }

  @include _1200 {
    grid-column: 1 / -1;
    width: calc(100% - 88px);
    margin: 0 0 30px;
  }

  @include _640 {
    width: auto;
  }
}

.facts__subtitle {
  margin: 0 0 30px;

  @include _1919 {
    font-size: 36px;
  }

  @include _1200 {
    font-size: 26px;
    margin: 0 0 20px;
  }

  @include _640 {
    font-size: 20px;
  }
}

.accordion {
  grid-column: 1 / span 8;

  @include _1919 {
    grid-column: 1 / -1;
  }
}

.accordion__item {
  margin: 0 0 20px;
  border-bottom: 1px solid $superLightGray;
}

.accordion__title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;

  cursor: pointer;
}

.accordion__btn {
  height: 2px;
  width: 22px;
  margin: 14px;

  background-color: $blue;

  &::before {
    position: relative;
    left: 10px;
    top: -10px;

    display: block;
    height: 22px;
    width: 2px;

    background-color: $blue;
    content: "";
  }
}

.accordion__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 145%;

  @include _1919 {
    font-size: 24px;
  }

  @include _1200 {
    font-size: 20px;
  }

  @include _640 {
    font-size: 18px;
  }
}
.accordion__title {
  color: $darkBlue;
}

.accordion__text-block {
  overflow: hidden;

  max-height: 0;

  transition: max-height 0.2s ease-out;
}

.accordion__text {
  margin: 0 0 27px;

  @include _640 {
    font-size: 14px;
  }
}

.accordion__item_active {
  border-bottom: 1px solid $lightBlue;

  .accordion__title {
    color: $lightBlue;
  }

  .accordion__btn {
    background-color: $lightBlue;
  }

  .accordion__btn::before {
    transform: rotate(90deg);
    background-color: $lightBlue;
  }

  .accordion__text-block {
    //max-height: 100%;
    margin: 0 0 30px;
  }
}

.squirrels {
  @include _1200 {
    margin: 63px 0 90px;
  }

  @include _640 {
    margin: 43px 0 105px;
  }
}
