- let currentPage = 'translation';
- let activeAnimal = 'alligator';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../../assets/css/normalize.css")
    link(rel="stylesheet", href="../../../assets/css/fonts.css")
    link(rel="stylesheet", href="../styles.css")
    title Online zoo. Zoos translations
  body
    .wrapper

      include ../../includes/header.pug

      main.content-wrapper

        include ../../includes/sidebar.pug

        .content
          section#main-cam.main-cam
            .main-cam__video-block
              <iframe class="main-cam__video video" width="100%" height="100%" src="https://www.youtube.com/embed/EnxRJii_dp8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .sub-block
              .sub-block__avatar
                img(src="../../../assets/images/translation-alligator-sub.png", alt="ST. Augustine alligator farm")
              .sub-block__info
                p.sub-block__name ST. Augustine alligator farm
                p.sub-block__watching 111 watching now
            .text-block.main-cam__text-block
              h3.text-block__subtitle.text-block__subtitle_small You can donate &NewLine;to this animals for a wonderful lunch.
              p.text-block__text.main-cam__text Alligators will receive a piece of meat or fresh fish. Animals will receive your gift in about 5-15 minutes
              .text-block__btn-wrapper
                a(href="#").btn_dark.btn-big-screen Feed the alligator
                a(href="#").btn_dark.btn-small-screen Try now

            section#other-cams.other-cams
              h2.text-block__subtitle.other-cams__heading Other cams
              .video-slider
                .video-slider__video-item
                  img(class="video video-slider__video", src="../../../assets/images/cam-2-alligator.jpg", alt="")
                  a(href="#").video-slider__closing-block.slider__content_hover
                    p.text-block__subtitle.text-block__subtitle_small.text-block__subtitle_white 68 viewers
                    .divider
                    span.video-item__link.slider__item-link.slider__item-link_hover Watch
                .video-slider__video-item
                  <iframe class="video video-slider__video" width="100%" height="100%" src="https://www.youtube.com/embed/EnxRJii_dp8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  a(href="#").video-slider__closing-block.slider__content_hover
                    p.text-block__subtitle.text-block__subtitle_small.text-block__subtitle_white 10 viewers
                    .divider
                    span.video-item__link.slider__item-link.slider__item-link_hover Watch
                .video-slider__video-item
                  img(class="video video-slider__video", src="../../../assets/images/cam-4-alligator.jpg", alt="")
                  a(href="#").video-slider__closing-block.slider__content_hover
                    p.text-block__subtitle.text-block__subtitle_small.text-block__subtitle_white 10 viewers
                    .divider
                    span.video-item__link.slider__item-link.slider__item-link_hover Watch
              .text-block__btn-wrapper.slider-nav
                  a(href="#").slider-nav__arrow_prev
                  a(href="#").slider-nav__arrow_next

          section#facts.facts
            .text-block.facts__text
              h2.text-block__subtitle.facts__subtitle Interesting facts
              p.text-block__text Keep an eye out for alligators basking in the sun and tune in for feeding demonstrations at 12:00 PM and 3:00 PM ET. Watch live and learn more about the alligators.
            .accordion
              .accordion__item
                .accordion__title-block
                  h4.accordion__title Species population
                  .accordion__btn
                .accordion__text-block.expanded
                  p.accordion__text Most American alligators live in Florida and Louisiana. In Florida alone, their number is 1 million individuals. Florida is the only place on Earth where alligators and real crocodiles coexist.
              .accordion__item
                .accordion__title-block
                  h4.accordion__title Region of habitat
                  .accordion__btn
                .accordion__text-block.expanded
                  p.accordion__text There are only two countries in the world where representatives of this genus live - these are the United States of America and China. The Chinese alligator is endangered and lives only in the Yangtze River Valley. The American alligator lives on the east coast of the United States from North Carolina to Texas.
              .accordion__item
                .accordion__title-block
                  h4.accordion__title Nutrition
                  .accordion__btn
                .accordion__text-block.expanded
                  p.accordion__text Alligators feed on almost anything they can catch. Juveniles prey on fish, insects, snails and crustaceans. As they grow, Mississippi alligators choose larger prey: large fish, such as carapace pike (Lepisosteidae); turtles, small mammals, birds and other reptiles, while Chinese alligators, due to their small size, still consume a large number of very small animals. Foreign bodies are often found in the stomachs of alligators. If alligators are hungry enough, they can eat carrion as well. Adult Mississippi alligators can sometimes hunt deer, feral pigs, or even younger alligators, although they are much inferior to most true crocodiles and black caimans for capturing large prey.

          include ../../includes/pay-and-feed.pug

      include ../../includes/footer.pug

    script(type="module" src="../index.js")
