footer
  .footer-col-1
    a(href="#").logo-link_big
    .logo-block
      a(href="").yem-logo-link
      span x
      a(href="").rs-logo-link
  .footer-col-2
    nav.footer-nav
      h2.heading Navigation
      ul
        li.footer-nav__item
          a(href="#watch-online").footer-nav__item-link Watch online
        li.footer-nav__item
          a(href="#how-it-works").footer-nav__item-link How it works
        li.footer-nav__item
          a(href="#famous-pets").footer-nav__item-link Famous pets
        li.footer-nav__item
          a(href="#pay-and-feed").footer-nav__item-link Pay & feed
        li.footer-nav__item
          a(href="#testimonials").footer-nav__item-link Testimonials
        li.footer-nav__item
          a(href="#zoogeography").footer-nav__item-link Zoogeography
  .footer-col-3
    h2.heading Support of volunteers
    p You can thank the volunteers for their work. For example, caring for animals and sincere love for them.
    a(href="../translation/index.html").btn_dark Donate for volunteers
    .social-wrapper
      a(href="").social Instagram
      a(href="").social Facebook
      a(href="").social Twitter
  .copyright
    p.copyright__text Copyright ©RSSchool and ©Yem Digital 2020 - 2021
    p.copyright__text Designed by Vladislav Chernov

