header
  nav
    ul
      li
        a(href="../main/index.html") About
      li
        a(href="../map/index.html") Map
      li
        a(href="../translation/index.html") Zoos
      li
        a(href="../404/index.html") Contact us
      li
        a(href="https://www.figma.com/file/74wXlorl9mZQP0uhqDg83j/Online-Zoo") Design
  .profile-enter
    a(href="#").avatar
