section#pay-and-feed.pay-and-feed.content__item
  h2.heading.pay-and-feed__heading Pay & feed
  .pay-and-feed__item-block.locker
    .text-block.pay-and-feed__text-block
      p.text-block__subtitle.pay-and-feed__subtitle Pay with VISA card
      p.text-block__text On the payment page, you need to enter the details of your "Visa" card and make a transfer. &NewLine;The operation will not take more than ~2 minutes.
  .arrow.arrow-1
  .arrow.arrow-2
  .pay-and-feed__item-block.delivery
    .text-block.pay-and-feed__text-block
      p.text-block__subtitle.pay-and-feed__subtitle Payment goes to the zoo
      p.text-block__text Payment goes to the account of the zoo &NewLine;and volunteers with employees receive a notification about the donation.
  .pay-and-feed__item-block.squirrels
    .text-block.pay-and-feed__text-block
      p.text-block__subtitle.pay-and-feed__subtitle The selected animal receives a treat
      p.text-block__text The staff takes the food you need for your chosen animal and delivers it to the animal. &NewLine;With your help, the animal is happy!
