section#pay-and-feed.content__item
  h2.heading Pay & feed
  .item-block.locker
    .text-block
      p.text-block__subtitle Pay with VISA card
      p.text-block__text On the payment page, you need to enter the details of your "Visa" card and make a transfer. The operation will not take more than ~2 minutes.
  .arrow-1
  .arrow-2
  .item-block.delivery
    .text-block
      p.text-block__subtitle Payment goes to the zoo
      p.text-block__text Payment goes to the account of the zoo and volunteers with employees receive a notification about the donation.
  .item-block.squirrels
    .text-block
      p.text-block__subtitle The selected animal receives a treat
      p.text-block__text The staff takes the food you need for your chosen animal and delivers it to the animal. With your help, the animal is happy!
