aside.sidebar
  .sidebar__item
    a(href="#").logo-link
  .sidebar__item
    ul.social-icons
      li.social-icons__item
        a(href="#").social-icons__item-link
      li.social-icons__item
        a(href="#").social-icons__item-link
      li.social-icons__item
        a(href="#").social-icons__item-link
  .sidebar__item
    a(href="#").go-up-link
