- let currentPage = 'main';
- let activeAnimal = 'eagle';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../assets/css/normalize.css")
    link(rel="stylesheet", href="../../assets/css/fonts.css")
    link(rel="stylesheet", href="styles.css")
    title Online zoo
  body
    .wrapper

      include ../includes/header.pug

      main.content-wrapper

        include ../includes/sidebar.pug

        .content
          section#watch-online.content__item
            .text-block
              h2.watch-online-heading Wild park
              p.text-block__subtitle.watch-online-subtitle Watch your favorite animal onl<span><span class="dot">.</span><span class="stack">ı</span></span>ne
              // <span><span class="dot">.</span><span class="stack">i</span></span>
              .text-block__btn-wrapper
                a(href="../map/index.html").btn_dark.watch-online-btn Choose zoo
                a(href="../translation/panda/index.html").btn_light Watch online
            img(src="../../assets/images/watch-online.jpg", alt="Watch your favorite animal online").photo-block

          section#how-it-works.content__item
            img(src="../../assets/images/how-works.jpg", alt="How Zoo online works").photo-block
            .text-block
              h2.heading How Zoo online works
              p.text-block__subtitle Our service will give you an unforgettable experience of observing and interacting with animals remotely
              p.text-block__text Zoo Online is a web application with which you can watch live cages of different animals in nature reserves and zoos online and, if you wish, donate to the needs of the animal you like
              .text-block__btn-wrapper
                a(href="../translation/panda/index.html").btn_dark Try now

          section#famous-pets.content__item
            .text-block
              h2.heading Famous pets
              p.text-block__subtitle You can choose any animal <br>you like
              .text-block__btn-wrapper.slider-nav
                a(href="#").slider-nav__arrow_prev
                a(href="#").slider-nav__arrow_next
            .slider
              .slider__item
                img(src="../../assets/images/slider-red-panda.jpg", alt="Little panda").slider__image
                .slider__item-content.slider-content_hover
                  .slider__item-circle
                    p.slider__item-text_hover North America, islands <br>near Los Angeles
                  .slider__item-heading Little panda
                  a(href="../translation/panda/index.html").slider__item-link Follow
              .slider__item
                img(src="../../assets/images/slider-penguin.jpg", alt="Penguin").slider__image
                .slider__item-content.slider-content_hover
                  .slider__item-circle
                    p.slider__item-text_hover North America, islands <br>near Los Angeles
                  .slider__item-heading Penguin
                  a(href="../translation/panda/index.html").slider__item-link Follow
              .slider__item
                img(src="../../assets/images/slider-squirrel.jpg", alt="Squirrel").slider__image
                .slider__item-content.slider-content_hover
                  .slider__item-circle
                    p.slider__item-text_hover North America, islands <br>near Los Angeles
                  .slider__item-heading Squirrel
                  a(href="../translation/panda/index.html").slider__item-link Follow
              .slider__item
                img(src="../../assets/images/slider-panda.jpg", alt="Panda").slider__image
                .slider__item-content.slider-content_hover
                  .slider__item-circle
                    p.slider__item-text_hover North America, islands <br>near Los Angeles
                  .slider__item-heading Panda
                  a(href="../translation/panda/index.html").slider__item-link Follow
              .slider__item
                img(src="../../assets/images/slider-eagle.jpg", alt="Eagles").slider__image
                .slider__item-content.slider-content_hover
                  .slider__item-circle
                    p.slider__item-text_hover North America, islands <br>near Los Angeles
                  .slider__item-heading Eagles
                  a(href="../translation/eagle/index.html").slider__item-link Follow
              .slider__item
                img(src="../../assets/images/slider-gorilla.jpg", alt="Gorilla").slider__image
                .slider__item-content.slider-content_hover
                  .slider__item-circle
                    p.slider__item-text_hover North America, islands <br>near Los Angeles
                  .slider__item-heading Gorilla
                  a(href="../translation/gorilla/index.html").slider__item-link Follow

          include ../includes/pay-and-feed.pug

          section#testimonials.content__item
            .text-block
              h2.heading Testimonials
              p.text-block__subtitle You can make us smile
              p.text-block__text We want to make animal observation and interaction accessible. You can leave your wishes on how to make the service more convenient, and most importantly, more interesting for you.
              .text-block__btn-wrapper
                a(href="../translation/panda/index.html").btn_testimonial Leave feedback
            .testimonial-slider
              a(href="#").testimonial-slider__link See more reviews
              .testimonial-slider__items-wrapper
                .testimonial-slider-item
                  .testimonial-slider-item__title
                    img(src="../../assets/images/testim-avatar.jpg", alt="avatar").testimonial-slider-item__avatar
                    .testimonial-slider-item__name Alena Andreeva
                  .testimonial-slider-item__text “Had a great time with my kids and made the cute pandas happy with delicious treats. I think I will use your service more than once, thanks!”
                .testimonial-slider-item
                  .testimonial-slider-item__title
                    img(src="../../assets/images/testim-avatar-without-ph.svg", alt="avatar").testimonial-slider-item__avatar
                    .testimonial-slider-item__name Joe Brown
                  .testimonial-slider-item__text “Thank you for the cool service, I turn on broadcasts with animals while working in the background, it relaxes and cheers up”
              .slider-nav
                a(href="#").slider-nav__arrow_prev
                a(href="#").slider-nav__arrow_next

          section#zoogeography.content__item.zoogeography
            h2.heading.zoogeography__heading Zoogeography

            include ../includes/map.pug


      include ../includes/footer.pug
