- let currentPage = 'main';
- let activeAnimal = 'eagle';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../assets/css/normalize.css")
    link(rel="stylesheet", href="../../assets/css/fonts.css")
    link(rel="stylesheet", href="styles.css")
    title Online zoo
  body
    .wrapper

      include ../includes/header.pug

      main.content-wrapper

        include ../includes/sidebar.pug

        .content
          section#watch-online.watch-online.content__item
            .watch-online__text-block
              h2.watch-online-heading Wild park
              p.text-block__subtitle.watch-online-subtitle Watch your favorite animal <span class="nowrap">onl<span class="letter" ><span class="dot">.</span><span class="stack">ı</span></span>ne</span>
              // <span><span class="dot">.</span><span class="stack">i</span></span>
              .text-block__btn-wrapper
                a(href="../map/index.html").btn_dark.watch-online-btn Choose zoo
                a(href="../translation/panda/index.html").btn_light Watch online
            picture.watch-online__photo-block
              source(srcset="../../assets/images/watch-online-640.jpg" media="(max-width: 1199px)")
              source(srcset="../../assets/images/watch-online-s.jpg" media="(max-width: 1919px)")
              source(srcset="../../assets/images/watch-online.jpg")
              img(class="watch-online__photo" src="../../assets/images/watch-online.jpg", alt="Watch your favorite animal online")

          section#how-it-works.how-it-works.content__item
            picture.how-it-works__photo-block
              source(srcset="../../assets/images/how-works-640.jpg" media="(max-width: 1199px)")
              source(srcset="../../assets/images/how-works-s.jpg" media="(max-width: 1919px)")
              source(srcset="../../assets/images/how-works.jpg")
              img(src="../../assets/images/how-works.jpg", alt="How Zoo online works").how-it-works__photo
            .how-it-works__text-block
              h2.heading.how-it-works__heading How Zoo online works
              p.text-block__subtitle.how-it-works__subtitle  Our service will give you <br class="br320">an unforgettable experience of observing and interacting with animals remotely
              p.text-block__text.how-it-works__text Zoo Online is a web application with which you can watch live cages of different animals in nature reserves and zoos online and, <br class="br320">if you wish, donate to the needs <br class="br320">of the animal you like
              .text-block__btn-wrapper
                a(href="../translation/panda/index.html").btn_dark.how-it-works__btn Try now

          section#famous-pets.famous-pets.content__item
            .text-block.famous-pets__text-block
              h2.heading.famous-pets-heading Famous pets
              p.text-block__subtitle.famous-pets__subtitle You can choose any animal <br>you like
              .text-block__btn-wrapper.slider-nav
                a(href="#").slider-nav__arrow_prev
                a(href="#").slider-nav__arrow_next
            .slider
              .slider__item.slider__item-red-panda
                img(src="../../assets/images/slider-red-panda.jpg", alt="Little panda").slider__image
                .slider__item-content.slider__content_hover
                  .slider__item-circle
                    p.slider__item-text_hover China, East Asia
                  .slider__item-heading Little panda
                  a(href="../translation/panda/index.html").slider__item-link.slider__item-link_hover Follow
              .slider__item.slider__item-penguin
                img(src="../../assets/images/slider-penguin.jpg", alt="Penguin").slider__image
                .slider__item-content.slider__content_hover
                  .slider__item-circle
                    p.slider__item-text_hover South Sea, Antarctic waters
                  .slider__item-heading Penguin
                  a(href="../translation/panda/index.html").slider__item-link.slider__item-link_hover Follow
              .slider__item.slider__item-panda
                img(src="../../assets/images/slider-squirrel.jpg", alt="Squirrel").slider__image
                .slider__item-content.slider__content_hover
                  .slider__item-circle
                    p.slider__item-text_hover Russia, forests in the Orenburg region
                  .slider__item-heading Squirrel
                  a(href="../translation/panda/index.html").slider__item-link.slider__item-link_hover Follow
              .slider__item.slider__item-
                img(src="../../assets/images/slider-panda.jpg", alt="Panda").slider__image
                .slider__item-content.slider__content_hover
                  .slider__item-circle
                    p.slider__item-text_hover Western central China
                  .slider__item-heading Panda
                  a(href="../translation/panda/index.html").slider__item-link.slider__item-link_hover Follow
              .slider__item.slider__item-eagle
                img(src="../../assets/images/slider-eagle.jpg", alt="Eagles").slider__image
                .slider__item-content.slider__content_hover
                  .slider__item-circle
                    p.slider__item-text_hover North America, islands near Los Angeles
                  .slider__item-heading Eagle
                  a(href="../translation/eagle/index.html").slider__item-link.slider__item-link_hover Follow
              .slider__item.slider__item-gorilla
                img(src="../../assets/images/slider-gorilla.jpg", alt="Gorilla").slider__image
                .slider__item-content.slider__content_hover
                  .slider__item-circle
                    p.slider__item-text_hover Equatorial forests of western and central Africa
                  .slider__item-heading Gorilla
                  a(href="../translation/gorilla/index.html").slider__item-link.slider__item-link_hover Follow
              .slider__item.hidden
                img(src="../../assets/images/slider-tiger.jpg", alt="Tiger").slider__image
                .slider__item-content.slider__content_hover
                  .slider__item-circle
                    p.slider__item-text_hover Russia, Amur region
                  .slider__item-heading Tiger
                  a(href="../translation/gorilla/index.html").slider__item-link.slider__item-link_hover Follow
              .slider__item.hidden
                img(src="../../assets/images/slider-alligator.jpg", alt="Alligator").slider__image
                .slider__item-content.slider__content_hover
                  .slider__item-circle
                    p.slider__item-text_hover American state of Florida
                  .slider__item-heading Alligator
                  a(href="../translation/alligator/index.html").slider__item-link.slider__item-link_hover Follow

          include ../includes/pay-and-feed.pug

          section#testimonials.testimonials.content__item
            .text-block.testimonials__text-block
              h2.heading.testimonials__heading Testimonials
              p.text-block__subtitle.testimonials__subtitle You can make us smile
              p.text-block__text We want to make animal observation <br class="br320">and interaction accessible. You can leave your wishes <br class="br1200">on how <br class="br640">to make the service more convenient, <br class="br1200"><br class="br640">and most importantly, <br class="br320">more interesting for you.
              .text-block__btn-wrapper
                a(href="../translation/panda/index.html").testimonials-btn Leave feedback
            .testimonials-slider
              a(href="#").testimonials-slider__link See more reviews
              .testimonials-slider__items-wrapper
                .testimonials-slider-item
                  .testimonials-slider-item__title
                    img(src="../../assets/images/testim-avatar.jpg", alt="avatar").testimonials-slider-item__avatar
                    .testimonials-slider-item__name Alena Andreeva
                  .testimonials-slider-item__text “Had a great time with my kids and made the cute pandas happy with delicious treats. I think I will use your service more than once, thanks!”
                .testimonials-slider-item
                  .testimonials-slider-item__title
                    img(src="../../assets/images/testim-avatar-without-ph.svg", alt="avatar").testimonials-slider-item__avatar
                    .testimonials-slider-item__name Joe Brown
                  .testimonials-slider-item__text “Thank you for the cool service, I turn on broadcasts with animals while working in the background, it relaxes and cheers up”
              .slider-nav.testimonials-slider__nav
                a(href="#").slider-nav__arrow_prev.testimonials-slider__nav-arrow_prev
                a(href="#").slider-nav__arrow_next.testimonials-slider__nav-arrow_next

          section#zoogeography.content__item.zoogeography
            h2.heading.zoogeography__heading Zoogeography

            include ../includes/map.pug


      include ../includes/footer.pug
