.car-container {
  height: 95px;
  margin: 0 0 25px;
  border-bottom: 3px dashed $white;
}

.car-block {
  display: flex;
  align-items: center;
  height: 35px;

  &_bottom {
    height: 60px;
  }

  .car-icon-container {
    &::after {
      position: absolute;
      z-index: 1;
      right: 130px;

      width: 20px;
      height: 100%;

      background: linear-gradient(90deg, #FFF 50%, #000 0) 0 / 10px, linear-gradient(#FFF 50%, #000 0) 0 / 9% 10px;
      background-blend-mode: exclusion;

      content: '';
    }
  }
}

.car-icon-container {
  position: relative;
  height: 40px;
  margin: 15px 0 10px 5px;

  flex-grow: 2;

  svg {
    position: absolute;
    z-index: 10;

    width: auto;
    height: 100%;
  }

  .car-icon_driving {
    animation-name: drive;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &_winners {
    height: 20px;
    margin: 0;

    svg {
      position: relative;
    }
  }
}

@keyframes drive {
  from { right: calc(100% - 130px); }
  to { right: 0; }
}
