@import 'variables';

.modal-box {
  &__cover {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border: 2px solid $neonYellow;
    border-radius: 4px;

    background-color: $bgBlack;
    box-shadow: 0 0 0.5em 0 $neonYellow;
  }

  &__name,
  &__time {
    color: $neonYellow;
    font-weight: 700;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em $neonYellow;
  }
}
