$white: #fff;
$whiteDis: #606060;
$bgBlack: #111;
$blackHover: #222;
$neonYellow: #CCFF00;
$neonYellowDis: #4D6000;
$neonGreen: #33FF66;
$neonGreenDis: #136026;
$neonRed: #ec1840;
$neonRedDis: #580918;
$neonPurple: #7a18ec;
$neonPurpleDis: #2E0958;
