@import '../utils/variables';

@import '../components/logo';
@import '../components/navigation';

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
  padding: 0 25px;

  background-color: $accent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  flex-grow: 1;

  color: $white;
}

.user-block {
  display: flex;
}

.avatar-container {
  overflow: hidden;
  height: 40px;
  width: 40px;
  margin: 0 0 0 30px;
  border-radius: 50%;
}

.user-block__avatar {
  object-fit: cover;
  height: 100%;
}
