@import '../utils/variables';

@import '../components/logo';
@import '../components/navigation';

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
  padding: 0 25px;

  background-color: $accent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  flex-grow: 1;

  color: $white;
}
