@import '../variables';
@import '../mixins';

@import '../general';
@import '../includes/header';
@import '../includes/sidebar';
@import '../includes/map';

.content-wrapper {
  overflow: hidden;

  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;

  &::before {
    position: absolute;
    top: 0;
    z-index: -10;

    height: 100vh;
    width: 100vw;

    background-image: url(../../assets/images/map.jpg);
    background-position: calc(50% + 30px) calc(50% - 37px);

    content: "";

    @include _1919 {
      background-position: calc(50% + 98px) calc(50% + 27px);
      background-size: 1400px;
    }

    @include _1200 {
      background-position: calc(50% + 40px) calc(50% - 22px);
    }

    @include _640 {
      background-position: calc(50% + 53px) calc(50% - 23px);
      background-size: 836px;
    }
  }
}

.header-block {
  margin: 25px 60px 0;

  @include _1919 {
    margin: 25px 40px 0
  }

  @include _1200 {
    margin: 0;
    border: none;

    background-color: transparent;
  }
}

.logo {
  @include _1200 {
    display: flex;
  }
}

.profile-enter__avatar {
  @include _max {
    margin: 0 86px 0 0;
  }
}

.sidebar {
  position: fixed;
  z-index: 10;

  margin: 0 60px 75px;

  @include _1919 {
    height: calc(100vh - 80px);
    margin: 0 40px 55px;
  }

  @include _1200 {
    width: calc(100vw - 40px);
    height: 80px;
    margin: 0 20px 0;
  }

  @include _640 {
    top: calc(100vh - 92px);

    width: calc(100vw - 20px);
    height: 75px;
    margin: 0 10px 0;
  }
}

.sidebar__nav.down {
  @include _1200 {
    margin: 0;
  }

  @include _640 {
    margin: 0 7px 0 0;
  }
}

.animals__item-addition {
  display: none;
}

.map {
  position: relative;

  height: 860px;
  width: 1920px;
  margin: 0 auto;
  align-self: center;

  @include _1919 {
    height: 700px;
    width: 1200px;
  }

  @include _1200 {
    width: 640px;
    height: 800px;
  }

  @include _640 {
    width: 320px;
    height: 480px;
  }
}

.map__link {
  &-eagle {
    left: -97px;
    top: -48px;

    @include _1919 {
      left: 1px;
      top: 94px;
    }

    @include _1200 {
      left: -337px;
      top: 94px;
    }

    @include _640 {
      left: -204px;
      top: 46px;
    }
  }

  &-alligator {
    left: 251px;
    top: 205px;

    @include _1919 {
      left: 225px;
      top: 257px;
    }

    @include _1200 {
      left: -113px;
      top: 257px;
    }

    @include _640 {
      left: -72px;
      top: 143px;
    }
  }

  &-gorilla {
    left: 952px;
    top: 444px;

    @include _1919 {
      left: 673px;
      top: 399px;
    }

    @include _1200 {
      left: 339px;
      top: 399px;
    }

    @include _640 {
      left: 200px;
      top: 232px;
    }
  }

  &-panda {
    left: 1628px;
    top: 247px;

    @include _1919 {
      left: 1111px;
      top: 284px;
    }

    @include _1200 {
      left: 773px;
      top: 284px;
    }

    @include _640 {
      left: 457px;
      top: 159px;
    }
  }

  &_active{
    transform: scale(1.2);
  }

  &:hover {
    transform: scale(1.2);
  }
}


.map__marker {
  @include _1919 {
    width: 53px;
    height: 68px;
  }

  @include _640 {
    width: 35px;
    height: 45px
  }
}

.animal-card__gorilla {
  position: absolute;
  top: calc(50% - 190px);
  left: calc(50% - 379px);

  @include _1919 {
    top: calc(50% - 145px);
    left: calc(50% - 244px);
  }

  @include _1200 {
    top: calc(50% - 165px);
    left: calc(50% - 255px);
  }

  @include _640 {
    display: none;
  }
}
