@import '../variables';
@import '../mixins';
@import '../general';
@import '../header';
@import '../sidebar';
@import '../map';

.content-wrapper {
  overflow: hidden;

  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;

  &::before {
    position: absolute;
    top: 0;
    z-index: -10;

    height: 100vh;
    width: 100vw;

    background-image: url(../../assets/images/map.jpg);
    background-position: calc(50% + 30px) calc(50% - 37px);

    content: "";
  }
}

.header-block {
  margin: 25px 60px 0;

  @include _1919 {
    margin: 25px 40px 0
  }

  @include _1200 {
    margin: 0;
    border: none;

    background-color: transparent;
  }
}

.logo {
  @include _1200 {
    display: flex;
  }
}

.profile-enter__avatar {
  @include _max {
    margin: 0 86px 0 0;
  }
}

.sidebar {
  position: fixed;

  margin: 0 60px 75px;

  @include _1919 {
    height: calc(100vh - 80px);
    margin: 0 40px 55px;
  }

  @include _1200 {
    width: calc(100vw - 52px);
    height: 80px;
    margin: 0 20px 0;
  }

  @include _640 {
    top: calc(100vh - 92px);

    width: calc(100vw - 34px);
    height: 75px;
    margin: 0 10px 0;
  }
}

.sidebar__nav.down {
  @include _1200 {
    margin: 0;
  }

  @include _640 {
    margin: 0 7px 0 0;
  }
}

.animals__item-addition {
  display: none;
}

.map {
  position: relative;

  height: 860px;
  width: 1920px;
  margin: 0 auto;
  align-self: center;
}

.map__link {
  &-eagle {
    left: -97px;
    top: -48px;
  }

  &-alligator {
    left: 251px;
    top: 205px;
  }

  &-gorilla {
    left: 952px;
    top: 444px;
  }

  &-panda {
    left: 1628px;
    top: 247px;
  }

  &_active{
    transform: scale(1.2);
  }

  &:hover {
    transform: scale(1.2);
  }
}

.animal-card__gorilla {
  position: absolute;
  left: 583px;
  top: 240px;
}
