- let currentPage = 'translation';
- let activeAnimal = 'panda';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../../assets/css/normalize.css")
    link(rel="stylesheet", href="../../../assets/css/fonts.css")
    link(rel="stylesheet", href="../styles.css")
    title Online zoo. Zoos translations
  body
    .wrapper

      include ../../includes/header.pug

      main.content-wrapper

        include ../../includes/sidebar.pug

        .content
          section#main-cam
            .video-block
              <iframe class="video" width="100%" height="100%" showinfo="0" controls="0" src="https://www.youtube.com/embed/65JHo3Cy2tY" frameborder="0"></iframe>
            .sub-block
              .sub-block__avatar
                img(src="../../../assets/images/translation-panda-sub.png", alt="Shenshuping Panda Center")
              .sub-block__info
                p.sub-block__name Shenshuping Panda Center
                p.sub-block__watching 506 watching now
            .text-block
              h3.text-block__subtitle.small You can donate to this animals for a wonderful lunch.
              p.text-block__text Pandas will receive a mixture of bamboo shoots, carrots and apples. Animals will receive your gift in about 5-15 minutes
              .text-block__btn-wrapper
                a(href="#").btn_dark Feed the panda
          section#other-cams
            h2.text-block__subtitle.block-heading Other cams
            .video-slider
              .video-slider__video-item
                <iframe class="video-slider__video" width="100%" height="100%" src="https://www.youtube.com/embed/OObOQ2GElhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                a(href="#").video-slider__closing-block.slider-content_hover
                  p.text-block__subtitle.small 68 viewers
                  .divider
                  span.video-item__link.slider__item-link Watch
              .video-slider__video-item.active
                <iframe class="video-slider__video" width="100%" height="100%" src="https://www.youtube.com/embed/65JHo3Cy2tY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                a(href="#").video-slider__closing-block.slider-content_hover
                  p.text-block__subtitle.small 25 viewers
                  .divider
                  span.video-item__link.slider__item-link Watch
              .video-slider__video-item
                <iframe class="video-slider__video" width="100%" height="100%" src="https://www.youtube.com/embed/58aHnTp0-JY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                a(href="#").video-slider__closing-block.slider-content_hover
                  p.text-block__subtitle.small Off season
                  .divider
                  span.video-item__link.slider__item-link Watch Highlights
              .video-slider__video-item
                <iframe class="video-slider__video" width="100%" height="100%" src="https://www.youtube.com/embed/tCcd6ZkExuo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                a(href="#").video-slider__closing-block.slider-content_hover
                  p.text-block__subtitle.small Off season
                  .divider
                  span.video-item__link.slider__item-link Watch Highlights
            .text-block__btn-wrapper.slider-nav
                a(href="#").slider-nav__arrow_prev
                a(href="#").slider-nav__arrow_next
          section#facts
            .text-block
              h2.text-block__subtitle Interesting facts
              p.text-block__text The yards at the Shenshuping Panda Center in China's Wolong Valley are filled with bamboo, making them very happy. Watch live and learn more about pandas.
            .accordion
              .accordion__item.active
                .accordion__title-block
                  h4.accordion__title Species population
                  .btn-more
                p.accordion__text A total of 60 giant panda cubs were born in 2019, bringing the total population of these animals in captivity around the world to 600. And in the wild there are less than 2,000 giant pandas left. They mainly live in Sichuan and Shaanxi provinces. This animal is not only a symbol of the Celestial Empire, but is also under the protection of the Chinese authorities. Harming a panda is punished very severely.
                p.accordion__text Details: <a href="https://regnum.ru/news/society/2776077.html">https://regnum.ru/news/society/2776077.html</a>
              .accordion__item.active
                .accordion__title-block
                  h4.accordion__title Region of habitat
                  .btn-more
                p.accordion__text The habitat of the giant panda includes the mountainous regions of the Tibet-Qinghai Plateau, western central China and southwest China. The giant panda lives mainly in the Sichuan province. There are also small populations of this animal in the Shaanxi and Gansu provinces. Before extensive land reclamation and deforestation began, the giant panda lived in many low-lying areas of China's interior.
              .accordion__item.active
                .accordion__title-block
                  h4.accordion__title Nutrition
                  .btn-more
                p.accordion__text The giant panda is a unique predator. Her digestion was originally focused on animal feed. But - millions of years have passed in the process of evolution, digestion has adapted to the digestion of bamboo. The exact reason is unknown. Most likely - there were few animals around that could be caught. And the plant won't run away. Despite the 99% bamboo diet, pandas extract only 17% of the nutrients from it. This is too little. Therefore, these bears must constantly eat. The rest of the time is sleep and rest to save energy.
                p.accordion__text The food process is perfected by pandas. Optimal seated position, freeing the front legs - to take more bamboo. On the paws there are special skin pads and a false thumb - to hold food more tightly. Strong jaws and complex intestinal microflora - to better digest bamboo. He has no chance. In fairness - giant pandas, on occasion, can eat fish, honey, eggs, leaves, fruits, roots and even small animals. But bamboo is somehow easier. More familiar.

          include ../../includes/pay-and-feed.pug

      include ../../includes/footer.pug
