- let currentPage = 'map';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../assets/css/normalize.css")
    link(rel="stylesheet", href="../../assets/css/fonts.css")
    link(rel="stylesheet", href="styles.css")
    title Online zoo. Zoos map
  body
    .wrapper

      include ../includes/header.pug

      main.content-wrapper

        include ../includes/sidebar.pug

        .map
          .animal-card
              img(src="../../assets/images/map-eagle.jpg", alt="Eagle").animal-card__image
              .text-block
                h3.text-block__subtitle Eagle
                p.text-block__text The broadcast is from an island near Los Angeles. Watch their real life.
                a(href="#").animal-card__link Watch now
          a(href="").map__link_active
          a(href="").map__link
          a(href="").map__link
