- let currentPage = 'map';
- let activeAnimal = 'gorilla';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../../assets/css/normalize.css")
    link(rel="stylesheet", href="../../assets/css/fonts.css")
    link(rel="stylesheet", href="styles.css")
    title Online zoo. Zoos map
  body
    .wrapper

      include ../includes/header.pug

      main.content-wrapper

        include ../includes/sidebar.pug

        .map-cover

        include ../includes/map.pug

    script(type="module" src="index.js")
