$headerHeight: 64px;

/** colors **/
$accent: #00b2be;
$accentHover: #018892;
$active: rgba(0, 0, 0, 0.15);
$bgImageCover: rgba(0, 0, 0, 0.3);
$white: #fff;
$black: #000;
$gray: #333333;
$bgLightGray: #e9e9e9;
$lightGray: #b6b6b6;
$mainFontColor: #6c6c6c;
$inputFocus: #ddd;
$inputInvalid: #b93228;
$inputValid: #2db928;

/** fonts **/
$mainFont: 'Open Sans', sans-serif;
