@import '../utils/variables';

.btn {
  padding: 10px 16px;
  border: 0;
  border-radius: 4px;

  background-color: $white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  color: $accent;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    background-color: $bgLightGray;
  }

  &_dark {
    background-color: $accent;
    color: $white;

    &:hover {
      background-color: $accentHover;
    }

    &:disabled {
      background-color: $bgLightGray;

      &:hover {
        background-color: $bgLightGray;
      }
    }
  }

  &_end-game {
    display: inline-block;
    margin: 10px auto 0;
  }
}
