@import '../utils/variables';

.player__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px 8px 0;
  border-bottom: 1px solid $lightGray;

  color: $gray;

  .avatar-container {
    margin: 0 15px 0 0;
  }
}

.name-block {
  flex-grow: 1;
}

.player__name {
  margin: 0 0 5px;

  font-weight: 600;
}

.player__email {
  margin: 0;

  font-size: 12px;
}

.player__score {
  margin: 0;
}

.player__score-value {
  color: $accent;
}
