@import '../variables';
@import '../mixins';

@import '../general';
@import '../includes/header';
@import '../includes/sidebar';
@import '../includes/pay-and-feed';
@import '../includes/map';
@import '../includes/footer';

.logo {
  @include _1200 {
    display: flex;
  }
}

.sidebar {
  @include _1200 {
    display: none;
  }
}

.logo__logo-link {
  @include _640 {
    margin: 0;
  }
}

.watch-online {
  @include _640 {
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    text-align: center;
    justify-items: center;
  }
}

.watch-online__text-block {
  grid-column: 1 / span 4;

  @include _1200 {
    grid-column: 1 / span 3;
  }

  @include _640 {
    grid-column: 1 / -1;
  }
}

.watch-online__photo-block {
  grid-column: 5 / span 4;
  height: auto;
  width: 100%;
  margin: 55px 0 17px;

  @include _1919 {
    grid-column: 5 / span 3;
    margin: 60px 0 17px;
  }

  @include _1200 {
    grid-column: 4 / span 3;
    justify-self: end;
    width: calc(100% - 21px);
    // max-width: 263px;
    margin: 75px 0 0 97px;
  }

  @include _640 {
    display: none;
  }
}

.watch-online__photo {
  width: 100%;
  border-radius: 5px;
}

.watch-online-heading {
  @include heading;
  color: #626262;

  @include _1919 {
    margin: 38px 0 0;
  }

  @include _1200 {
    margin: 90px 0 0;
  }

  @include _640 {
    margin: 70px 0 0;
  }
}

.watch-online-subtitle {
  margin: 25px 0 60px;
  font-size: 84px;
  line-height: normal;

  @include _1919 {
    margin: 35px 0 48px;
    font-size: 56px;
  }

  @include _1200 {
    min-width: 315px;
    margin: 30px 0 42px;
    font-size: 42px;
  }

  @include _640 {
    margin: 35px 0 42px;
  }
}

.nowrap {
  white-space: nowrap;
}

.letter {
  position: relative;
  display: inline-block;
}

.dot {
  position: absolute;
  top: -23px;
  display: block;

  color: #D00000;

  line-height: 0;

  @include _1919 {
    top: -13px;
  }
}

.stack {
  display: block;
  padding-bottom: 0.25em;

  line-height: 0.8;
}

.text-block__btn-wrapper {
  @include _1919 {
    margin: 0 0 10px;
  }
}

.watch-online-btn {
  margin: 0 62px 0 0;

  background-color: $darkBlue;

  &:hover {
    background-color: $dark;
  }

  @include _1919 {
    margin: 0 40px 0 0;
    background-color: $blue;
  }

  @include _640 {
    margin: 0 auto;

    font-size: 14px;
  }
}

.btn_light {
  @include _1200 {
    display: none;
  }
}

.how-it-works {
  @include _1200 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    text-align: center;
  }

  @include _640 {
    display: grid;
  }
}

.how-it-works__heading {
  @include _1919 {
    margin: 25px 0 0;

    font-size: 22px;
  }

  @include _1200 {
    margin: 115px 0 0;
  }

  @include _640 {
    margin: 0;

    font-size: 16px;
  }
}

.how-it-works__subtitle {
  min-width: 700px;
  margin: 50px 0 40px;

  @include _1919 {
    min-width: 0;
    margin: 45px 0 35px;

    font-size: 28px;
  }

  @include _1200 {
    max-width: 550px;
    margin: 45px auto 30px;
    font-size: 26px;
  }

  @include _640 {
    margin: 30px auto 28px;

    font-size: 20px;
  }
}

.how-it-works__text {
  margin: 0 0 60px;

  @include _1919 {
    margin: 0 0 50px;

    line-height: 25px;
  }

  @include _1200 {
    max-width: 550px;
    margin: 0 0 40px;

    font-size: 16px;
  }

  @include _640 {
    font-size: 14px;
    line-height: 22px;
  }
}

.how-it-works__btn {
  @include _1919 {
    padding: 22px 75px;
  }

  @include _1200 {
    margin: 0 auto;
  }

  @include _640 {
    margin: 0 auto 50px;
  }
}

.how-it-works__photo-block {
  grid-column: 1 / span 3;
  width: 100%;
  margin: 110px 0;
  border-radius: 5px;

  @include _1919 {
    margin: 175px 0 93px;
  }

  @include _1200 {
    @include grid(6, 30px);
    margin: 50px 0 80px;
  }

  @include _640 {
    grid-column: 1 / -1;
    display: block;
    margin: 50px 0 50px;
  }
}

.how-it-works__photo {
  width: 100%;

  @include _1200 {
    grid-column: 2 / -2;
  }
}

.how-it-works__text-block {
  grid-column: span 4 / -2;

  @include _1919 {
    grid-column: span 4 / -1;
  }
}

.famous-pets {
  &::before {
    position: absolute;
    left: 0;
    z-index: -10;

    height: 896px;
    width: 100%;

    background-color: $wightBlue;

    content: "";

    @include _1919 {
      // height: 734px;
      height: calc((((100vw - 170px) / 4) * 2) + 218px);
    }

    @include _1200 {
      // height: 855px;
      height: calc((((100vw - 100px) / 3) * 2) + 487px);
    }

    @include _640 {
      // height: 692px;
      height: calc((((100vw - 40px) / 2) * 2) + 395px);
    }
  }

  @include _1200 {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }
}

.slider {
  grid-column: 3 / -2;
  @include grid(3, 40px);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  margin: 100px 0;

  @include _1919 {
    @include grid(2, 30px);
    row-gap: 30px;
    margin: 94px 0;
  }

  @include _1200 {
    @include grid(3, 30px);
    margin: 70px 0;
  }

  @include _640 {
    @include grid(2, 20px);
    row-gap: 20px;
    margin: 50px 0;
  }
}

.slider-nav {
  @include _1919 {
    margin: 0 0 100px;
  }

  @include _1200 {
    margin: 0 20px 0;
  }
}

.slider-nav__arrow {
  &_prev,
  &_next {
    background-color: $dark;

    @include _1919 {
      background-color: $blue;
    }

    @include _1200 {
      margin: 0 10px 0 10px;
    }
  }

  &_prev:hover,
  &_next:hover {
    background-color: $black;
  }

  &_prev:active,
  &_next:active {
    background-color: $active;
  }
}

.slider__item {
  position: relative;
  overflow: hidden;

  //max-width: 328px;
  // height: -moz-fit-content;
  // height: fit-content;
  border-radius: 5px;

  line-height: 0;
}

.slider__item-panda {
  @include _1919 {
    display: none;
  }

  @include _1200 {
    display: block;
  }

  @include _640 {
    display: none;
  }
}

.slider__item-gorilla {
  @include _1919 {
    display: none;
  }

  @include _1200 {
    display: block;
  }

  @include _640 {
    display: none;
  }
}

.slider__image {
  @include _1919 {
    width: 100%;
  }
}

.slider__item-content {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

  opacity: 0.8;

  color: $white;

  cursor: pointer;

  &:hover .slider__image{
    filter: blur(1px);
  }

  &:hover .slider__item-text_hover {
    opacity: 1;

    transform: scale(1);
  }

  &:hover .slider__item-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 238px;
    width: 238px;
    margin: 0 0 14px;

    background: rgba(11, 11, 11, 0.1);
    background-image: none;
    background-blend-mode: darken;

    text-align: center;

    @include _1919 {
      width: 184px;
      height: 184px;
    }

    @include _1200 {
      width: 129px;
      height: 129px;
    }

    @include _640 {
      width: 100px;
      height: 100px;
    }
  }

  &:hover .slider__item-heading{
    line-height: 0;
    transform: translate(0, 100px);
  }

  &:hover .slider__item-link_hover {
    opacity: 1;

    transform: scale(1);
  }
}

.slider__item-circle {
  display: block;
  height: 72px;
  width: 72px;
  margin: 50% 0 43px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;

  background-image: url(../../assets/icons/slider-content-plus.svg);
  background-position: center;
  background-repeat: no-repeat;

  transition: 0.3s;

  @include _1919 {
    width: 59px;
    height: 59px;
    margin: 50% 0 32px;
    border: 1px solid rgba(252, 252, 252, 0.3);
  }

  @include _1200 {
    width: 41px;
    height: 41px;
    margin: 50% 0 18px;
  }

  @include _640 {
    width: 31px;
    height: 31px;
    margin: 50% 0 0;

    background-size: 10px;
  }
}

.slider__item-heading {
  @extend %btn-text;

  transition: 0.2s;

  @include _640 {
    position: relative;
    top: 10px;
    font-size: 14px;
  }
}

.slider__item-text_hover {
  position: absolute;

  max-width: 189px;

  line-height: 154%;

  opacity: 0;

  transform: scale(2);
  transition: 0.5s;

  @include _1200 {
    max-width: 102px;
    font-size: 14px;
  }

  @include _640 {
    font-size: 12px;
  }
}

.slider__item-link_hover {
  opacity: 0;

  transform: scale(2);
  transition: 0.3s;

  @include _640 {
    font-size: 14px;
  }
}

.famous-pets__text-block {
  grid-column: 1 / 3;
  margin: 90px 0 0;

  @include _1200 {
    max-width: 189px;
    margin: 60px 0 0;
  }

  @include _640 {
    margin: 55px 0 0;
  }
}

.famous-pets__subtitle {
  margin: 50px 0 55px;

  @include _1919 {
    margin: 50px 0 30px;
  }

  @include _1200 {
    margin: 35px 0 35px;

    line-height: 35px;
  }

  @include _640 {
    margin: 25px 0 30px;

    line-height: 29px;
  }
}

.testimonials {
  color: $white;

  &::before {
    position: absolute;
    left: 0;
    z-index: -10;

    height: 616px;
    width: 100%;

    background-color: $darkBlue;

    content: "";

    @include _1919 {
      height: 556px;
    }

    @include _1200 {
      height: 979px;
    }

    @include _640 {
      height: 900px;
    }
  }

  @include _1200 {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }
}

.testimonials__text-block {
  grid-column: 1 / 4;
  margin: 100px 0;

  @include _1919 {
    margin: 0;
  }

  .text-block__text {
    @include _1200 {
      max-width: 392px;

      font-size: 16px;
      line-height: 25px;
    }

    @include _640 {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.testimonials__heading {
  color: $white;

  @include _1919 {
    margin: 15px 0 0;
  }

  @include _1200 {
    margin: 80px 0 0;
  }

  @include _640 {
    margin: 55px 0 0;
  }
}

.testimonials__subtitle {
  margin: 62px 0 40px;
  color: $white;

  @include _1919 {
    margin: 40px 0 40px;
  }

  @include _1200 {
    margin: 35px 0 33px;
    font-size: 28px;
  }

  @include _640 {
    margin: 30px 0 20px;
    font-size: 20px;
  }
}

.testimonials-btn {
  @extend %btn-text;
  @include btn();

  margin: 60px 0 0;
  border: 2px solid $white;

  &:hover {
    border-color: $gray;
  }

  &:active {
    border-color: $hardBlue;
  }

  @include _1919 {
    padding: 20px 75px;
    margin: 65px 0 0;

    font-size: 18px;
  }

  @include _1200 {
    margin: 50px auto 0;
  }

  @include _640 {
    max-width: 256px;
    margin: 36px auto 0;

    font-size: 14px;
  }
}

.testimonials-slider {
  grid-column: 4 / -1;

  @include _1200 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.testimonials-slider__items-wrapper {
  @include grid(6, 40px);

  @include _1200 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.testimonials-slider-item {
  grid-column: auto / span 3;
  height: 273px;
  margin: 25px 0 30px;
  padding: 40px;
  border-radius: 15px;

  background-color: $white;

  color: $dark;

  &:nth-child(2) {
    @include _1919 {
      display: none;
    }
  }

  @include _1919 {
    min-width: 454px;
    max-height: 235px;

    padding: 30px;
    margin: 20px 0 30px;
  }

  @include _1200 {
    width: 454px;
    height: 235px;
    margin: 20px auto 30px;
  }

  @include _640 {
    min-width: 0;
    width: 100%;
    height: 300px;
    max-height: 300px;
    margin: 15px auto 30px;
  }
}

.testimonials-slider-item__title {
  color: $black;
}

.testimonials-slider__link {
  display: flex;
  align-items: center;
  margin: 5px 0 0;

  transition: 0.2s;

  @include _1919 {
    margin: 111px 0 0;

    font-size: 16px;
  }

  @include _1200 {
    margin: 68px auto 7px;
  }

  @include _640 {
    margin: 40px auto 0;
    font-size: 14px;
  }

  &::after {
    display: block;
    height: 14px;
    width: 22px;
    margin: 0 0 0 10px;

    background-image: url(../../assets/icons/text-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;

    content: "";

    @include _640 {
      margin: 0 0 0 3px;
      background-size: 12px;
    }
  }

  &:hover {
    transform: translate(5px);
  }

  &:active {
    transform: scale(0.98);
  }
}

.testimonials-slider-item__title {
  display: flex;
  align-items: center;
  margin: 0 0 30px;

  @include _1200 {
    margin: 0 0 25px;
  }
}

.testimonials-slider-item__avatar {
  height: 46px;
  width: 46px;
  margin: 0 19px 0 0;
  border-radius: 50%;
}

.testimonials-slider-item__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;

  @include _1919 {
    font-size: 18px;
  }

  @include _640 {
    font-size: 16px;
  }
}

.testimonials-slider-item__text {
  @include _1919 {
    font-size: 16px;
  }

  @include _1200 {
    line-height: 25px;
    text-align: left;
  }

  @include _640 {
    font-size: 18px;
    line-height: 28px;
  }
}

.testimonials-slider__nav {
  display: flex;
}

.testimonials-slider__nav-arrow {
  &_prev {
    margin: 0 20px 0 0;

    background-image: url(../../assets/icons/slider-nav-prev-dark.svg);

    @include _1200 {
      margin: 0 10px 103px;
    }

    @include _640 {
      margin: 0 10px 40px;
    }
  }

  &_next {
    background-image: url(../../assets/icons/slider-nav-next-dark.svg);
  }

  &_prev,
  &_next {
    background-color: $white;
  }

  &_prev:hover,
  &_next:hover {
    background-color: $wightBlue;
  }

  &_prev:active,
  &_next:active {
    background-color: $lightBlue;
  }
}

.zoogeography {
  position: relative;
  align-items: start;

  @include _1919 {
    height: 711px;
  }

  @include _1200 {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 826px;
  }

  @include _640 {
    height: 604px;
  }
}

.zoogeography__heading{
  grid-column: 1 / span 2;
  margin: 108px 0 0;

  @include _1919 {
    margin: 80px 0 60px;
  }

  @include _1200 {
    display: none;
  }
}

.animal-card {
  @include _1200 {
    position: absolute;
    top: 80px;

    margin: 0;
  }

  @include _640 {
    position: relative;
  }
}

.animal-card__eagle {
  grid-column: 1 / 3;
  margin: 0 0 100px;
}

.map {
  position: relative;

  grid-column: 3 / 10;
  grid-row: 1 / span 2;
  height: 700px;
  margin: 55px 0 112px;

  background-image: url(../../assets/images/map-main.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @include _1919 {
    grid-column: 3 / -1;
    justify-self: end;
    width: 674px;
    height: 388px;
    margin: 164px 0 159px;
  }

  @include _1200 {
    top: 380px;

    width: 600px;
    margin: 0 auto;

    background-position: center;
  }

  @include _640 {
    display: none;
  }
}

.map__link {
  height: 89px;
  width: 69px;

  &-alligator {
    left: 273px;
    top: 216px;

    @include _1919 {
      left: 150px;
      top: 122px;
    }

    @include _1200 {
      left: 134px;
      top: 125px;
    }
  }

  &-eagle {
    left: 138px;
    top: 182px;

    @include _1919 {
      left: 77px;
      top: 103px;
    }

    @include _1200 {
      left: 66px;
      top: 105px;
    }
  }

  &-gorilla {
    left: 591px;
    top: 343px;

    @include _1919 {
      left: 309px;
      top: 172px;
    }

    @include _1200 {
      left: 273px;
      top: 171px;
    }
  }

  &-panda {
    left: 909px;
    top: 204px;

    @include _1919 {
      left: 492px;
      top: 112px;
    }

    @include _1200 {
      left: 443px;
      top: 123px;
    }
  }

  @include _1919 {
    width: 37px;
    height: 47px;
  }

  &_active {
    transform: scale(1.4);
  }

  &:hover {
    transform: scale(1.4);
  }
}

.map__marker {
  @include _1919 {
    width: 37px;
    height: 47px;
  }
}

.animals-map {
  @include _640 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0 0;
  }

  .sidebar__nav {
    display: flex;

    width: 20px;
    margin: 0;

    &.up {
      justify-content: flex-start;
    }

    &.down {
      justify-content: flex-end;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.animals-map__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border: 2px solid $wightBlue;
  border-radius: 50%;

  color: $blue;

  transition: 0.3s;

  &:hover,
  &.active {
    border-color: $lightBlue;
  }

  &:active {
    border-color: $hardBlue;
    transform: scale(0.9);
  }

  @include _1919 {
    height: 45px;
    width: 45px;
  }
}
